header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: #4B3C37;
}

p {
    color: #332F2E;
}

a {
    color: #332F2E;
    text-decoration: none;

}

footer {
    color: #332F2E;
}